<div class="modal fade" id="modal-cadastro-b">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #d5dddc">
        <button style="color: #dc0609" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title"><i [class]="cadastro.informacoesTela.icone" style="color: #2578ff"></i> {{ cadastro.informacoesTela.titulo }}</h4>
      </div>

      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">

        <div *ngIf="cadastro.informacoesTela.telaEstaEmEdicao">
          <button type="button" class="btn btn-primary" (click)="clicouBotaoSalvar()">
            <i class="fa fa-save"></i> &nbsp; Salvar
          </button>
        </div>

        <div *ngIf="!cadastro.informacoesTela.telaEstaEmEdicao">
          <button disabled type="button" class="btn btn-primary" (click)="clicouBotaoSalvar()">
            <i class="fa fa-save"></i> &nbsp; Salvar
          </button>
        </div>

      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->